

.texte1 {
    font-family: SF UI Display Medium;
    color: #F8F8F8;
    font-size: 1rem;
    margin-left: 15vw;
    margin-right: 15vw;
} 

.about {
    font-family: ebrima;
    background-image: url("Backgroundapropos.png");
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}