.mostlistened {
    font-family: ebrima;
    background-color: #131214;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}
.classictitle {
  font-family: SF UI Display Medium;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 5vh;
}