.classictitle {
    font-family: SF UI Display Medium;
    color: #F8F8F8;
    margin-left: 100px;
    margin-top: 50px;
  
  }
  
.footer{
    color: white;
    font-family: ebrima;
    margin-top: 338px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 12px;
  }