.playlists {
    font-family: ebrima;
    background-color: #131214;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.titre {
  font-family: SF UI Display Light;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 8vh;
  font-size: 3rem;
}

.mois {
  font-family: SF UI Display Light;
  color: #B68C1A;
  margin-left: 34vw;
  margin-top: -6vh; 
  font-size: 1.5rem;
}