.classictitle {
    font-family: SF UI Display Medium;
    color: #F8F8F8;
    margin-left: 100px;
    margin-top: 50px;
  
  }

  .playlists {
    font-family: ebrima;
    background-color: #131214;
    height: 100vh;
}