.active {
    color: #B18819;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1D1E;
    height: 70px;
    font-family: ebrima;
    display: block;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 23px;
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
    color: #B18819;
  }

  .logo {
    float: left;
    max-width: 130px;
    max-height: 65px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-right: 48vw;
    margin-top: 2vh;
    
  }