.container {
  color: #555555;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E1D1E;
  height: 70px;
  font-family: ebrima;
  display: block;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 23px;
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #B18819;
}

p {
  font-family: ebrima;
  background-image: url('background.png');
}

@font-face {
 font-family: "ebrima";
 src: url("ebrima.ttf") format("ttf"),
 
}

@font-face {
font-family: "MADECannes";
 src: local("MADECannes"),
       url(MADECannes.otf);
  font-weight: bold;
}

body {
margin: 0px;
background-image: url('background.png');
}

.left {
  float: left !important;
}

h1 {
  color: white;
  font-family: MADECannes;
  text-align: center;
  margin-top: 200px;
  font-size: 110px;
}

