.container {
  color: #555555;
}

p {
  font-family: ebrima;
}

@font-face {
 font-family: "ebrima";
 src: url("ebrima.ttf") format("ttf"),
 
}

@font-face {
font-family: "MADECannes";
 src: local("MADECannes"),
       url(MADECannes.otf);
  font-weight: bold;
}

body {
margin: 0px;
background-image: url('background.png');
}

.left {
  float: left !important;
}

h1 {
  color: white;
  font-family: MADECannes;
  text-align: center;
  margin-top: 180px;
  font-size: 110px;
}

