.history {
    font-family: ebrima;
    background-color: #131214;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}
.classictitle {
  font-family: SF UI Display Medium;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 5vh;
}
.titre {
  font-family: SF UI Display Medium;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 5vh;
}
.artiste {
  font-family: SF UI Display Medium;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 5vh;
}
.titrehistoire{
  font-family: SF UI Display Medium;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 5vh;
}
.histoire {
  font-family: SF UI Display Medium;
  color: #F8F8F8;
  margin-left: 6vw;
  margin-top: 5vh;
}


@font-face {
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Medium'), url('sf-ui-display-medium-58646be638f96.woff') format('woff');
}